* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: sans-serif;
  margin: 80px 10%;
}

.title {
  color: #f55951;
  font-size: 110px;
}

.sub-title {
  color: #2b2b2b;
  font-size: 70px;
}

li {
  list-style: none;
  background-color: white;
  border-radius: 10px;
  margin-top: 20px;
  width: 95%;
  padding: 25px;
  box-shadow: 5px 5px 10px rgba(34, 34, 34, 0.082);
}

a {
  text-decoration: none;
}

.recipe-name {
  color: #f55951;
  font-size: 45px;
  padding: 0px;
}

.recipe-description {
  color: #5e5e5e;
  font-size: 16px;
  text-align: justify;
  font-style: italic;
}
